<div class="container">
		<div ng-controller="DashCtrl" class="row">

			<%= render :partial => 'dash_header', :locals => { :title => "Dashboard"} %>
        	<div class="row">
        		<div class="span9">
					<%= render 'note' %>
					<%= render 'notes' %>
					

					<div class="row">	
						<div class="span4 well">
							<h3 class="text-center">Reminders</h3>
							<h4>Open</h4>
							<%= render 'reminders' %>
							<h4>Closed</h4>
							<%= render 'reminders_closed' %>
						</div>
						<div class="span4 well">
							<h3 class="text-center">Tasks</h3>
							<h4>Open</h4>
							<%= render 'tasks' %>
							<h4>Closed</h4>
							<%= render 'tasks_closed' %>
						</div>
					</div>
				</div>
				
			    <div class="span3">
			    	<h3>Connections</h3>
			    	<%= render 'connections' %>
			    </div>
			</div>
	</div>
</div>
<%= render 'dash_footer' %>