<div class="container">
		<div ng-controller="RemindersCtrl" class="row">
           <%= render :partial => 'dash_header', :locals => { :title => "Reminders"}  %>
        	<div class="row">
        		<div class="span9">
					<%= render 'note' %>
					<div class="span4">
						<%= render 'reminders' %>
						<%= render 'reminders_closed' %>
					</div>
					<div class="span4">
						<%= render 'tasks' %>
						<%= render 'tasks_closed' %>
					</div>
				</div>

			    <div class="span3">
			    	<%= render 'connections' %>
			    </div>
			</div>
	</div>
</div>
<%= render 'dash_footer' %>