<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<p>
  <b>Task:</b>
  <%= @note.task %>
</p>

<p>
  <b>Action date:</b>
  <%= @note.action_date %>
</p>

<p>
  <b>Reminder:</b>
  <%= @note.reminder %>
</p>

<p>
  <b>Body:</b>
  <%= @note.body %>
</p>

<p>
  <b>Related profile:</b>
  <%= @note.related_profile_id %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
