<!DOCTYPE html>
<html>
<head>
  <title>Linkedin</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="HubCRM">
	<%= render 'shared/nav' %>
	<%= render 'shared/subnav' %>
<div class="container-fluid">
	<%= yield %>
</div>
</body>
</html>
